header > nav:first-child {
	background: #0066A4;
	padding: 1.5rem;
}
section, footer {
	color: #0066A4;
}
section > h3, footer > h3 {
	margin: 0;
	padding-top: 3rem;
	padding-bottom: 2rem;
	text-transform: capitalize;
	border-bottom: 1px solid inherit;
}
footer {
	background: #fff;
	min-height: 320px;
}
.brand {
	background: url("http://www.marlborocountysc.org/_img/logo.png") no-repeat;
	height: 40px;
}
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.navbar-toggle {
	border-radius: 44px;
	background: #128DDA;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.internal-menu {
	display: none;
}
.social-widgets {
	display: none;
}
.image>img {
	width: 100%;
}
.county-details {
	background: #fff;
	min-height: 370px;
}
.county-connection {
	color: #fff;
	background: #0A3F9D;
	min-height: 970px;
}
.news {
	background: #fff;
	min-height: 370px;
}
.post-news {
	background: #ededed;
	min-height: 370px;
}
.tweets {
	background: #fff;
	min-height: 370px;
}
.fast-facts {
	background: #ededed;
	min-height: 670px;
}
.success-stories {
	background: #fff;
	min-height: 670px;
}
.major-employees {
	background: #ededed;
	min-height: 670px;
}
/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 768px) {
	.container {
		padding: 0;
		margin: 0;
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1280px) {
	.container {
	  min-width: 1200px;
	}
	.internal-menu {
		display: block;
	}
	.internal-menu>.navbar-right>li>a {
		color: white;
		padding: 0 15px;
		line-height: 1px;
	}
	#main-nav>.navbar-nav>li {
		float: left;
	  margin-left: 30px;
	  margin-right: 30px;
	}
	#quick-facts {
		background: #F8FBFF;
	}

	.padTop {
	  padding-top: 50px;
	}

	.light-blue {
		background: #A1C7DC;
	}

	.border-light-blue {
		border-color: #A1C7DC;
	}

	.border-light-blue>li>a {
		background: #064885;
		color: #fff;
	}

	.prop_box {
	  float: left;
	  margin-bottom: 30px;
	  background: #f5f5f5;
	  text-align: center;
	  height:400px;
	}

	.prop_box .size{color:#03194d;text-transform:uppercase;margin-bottom:0.75em;margin-top:0.75em;font:500 21px "Proxima Nova";}
	.prop_box .size span{font-size:14px;}
	.prop_box p{color:#03194d;font-size:13px;margin:20px 30px;}
	.prop_box img{width:100%;height:auto;}


	.social-widgets>.internal-menu>.navbar-right {
		margin-right: 0;
	}
	.social-widgets>.internal-menu>.navbar-right>li {
		margin: 1rem 0.2rem;
		font-size: 1.2rem;
		padding: 0 15px;
	  line-height: 1px;
	}
	.social-widgets {
		display: block;
	}
}