header > nav:first-child {
	background: #0066A4;
	padding: 1.5rem;
}
section, footer {
	color: #0066A4;
	text-align: center;
}
section > h3, footer > h3 {
	margin: 0;
	padding-top: 3rem;
	padding-bottom: 2rem;
	text-transform: capitalize;
	border-bottom: 1px solid inherit;
}
footer {
	background: #fff;
	min-height: 320px;
}
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.navbar-toggle {
	border-radius: 44px;
	background: #128DDA;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.internal-menu {
	display: none;
}
.social-widgets {
	display: none;
}
.image>img {
	width: 100%;
}
.county-details {
	background: #fff;
	min-height: 370px;
}
.county-connection {
	color: #fff;
	background: #0A3F9D;
	min-height: 970px;
}
.news {
	background: #fff;
	min-height: 370px;
}
.post-news {
	background: #ededed;
	min-height: 370px;
}
.tweets {
	background: #fff;
	min-height: 370px;
}
.fast-facts {
	background: #ededed;
	min-height: 670px;
}
.success-stories {
	background: #fff;
	min-height: 670px;
}
.major-employees {
	background: #ededed;
	min-height: 670px;
}
/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 768px) {
	.container {
		padding: 0;
		margin: 0;
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	.internal-menu {
		display: block;
	}
	.social-widgets {
		display: block;
	}
}